:root {
    --theme-main-color: #C25559;
    --theme-secondary-color: #86A297;
    --theme-font: Elwood, Arial sans-serif;
    --theme-font-main-color: #FFFFFF;
    --theme-font-secondary-color: #000000;
}

@font-face {
    font-family: Elwood;
    src: url('/assets/fonts/PPMonumentExtended-Bold.woff');
}

h1, h2, h3 {
    font-family: var(--theme-font);
}

h1 {
    color: var(--theme-main-color);
    border-top: 1px solid var(--theme-main-color);
    border-bottom: 1px solid var(--theme-main-color);
    padding: 1rem 0;
}

h2 {
    color: var(--theme-secondary-color);
    border-bottom: 1px solid var(--theme-secondary-color);
    padding-bottom: 1rem;
}

h3 {
    color: white;
}

a {
    color: white;
    text-decoration: none;
}
