---
import { Socials } from "../types/schemas";

const { socials }: { socials: Socials["socials"] } = Astro.props;
---

<section>
  <h2>Socials</h2>
  {socials.map((social) => (
    <div>
      {social.name}
    </div>
  ))}
</section>
